sudo: required

language: cpp

branches:
  only:
    - master

os:
  - linux

compiler:
  - gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - cmake-3.2.2
    - gcc-4.8.1
    - g++-4.8.1

before_install:
  # libunwind
  - wget -q http://download.savannah.gnu.org/releases/libunwind/libunwind-1.1.tar.gz
  - tar xfz libunwind-1.1.tar.gz
  - cd libunwind-1.1 && ./configure --prefix=/usr && sudo make --silent install && cd ..
  # cmake
  # - sudo apt-get install build-essential
  # - wget http://www.cmake.org/files/v3.2/cmake-3.2.2.tar.gz
  # - tar xfz cmake-3.2.2.tar.gz
  # - cd cmake-3.2.2 && ./configure --prefix=/usr && sudo make --silent install && cd ..

before_script:
  - mkdir cmake-build
  - cd cmake-build
  - cmake ..

script:
  - make
