sudo: required

language: cpp

branches:
  only:
    - master

os:
  - linux

compiler:
  - gcc

before_install:
  # libunwind
  - wget -q http://download.savannah.gnu.org/releases/libunwind/libunwind-1.1.tar.gz
  - tar xfz libunwind-1.1.tar.gz
  - cd libunwind-1.1 && ./configure --prefix=/usr && sudo make --silent install && cd ..
  # cmake
  - sudo apt-get install build-essential
  - wget http://www.cmake.org/files/v3.2/cmake-3.2.2.tar.gz
  - tar xfz cmake-3.2.2.tar.gz
  - cd cmake-3.2.2 && ./configure --prefix=/usr && sudo make --silent install && cd ..
  # g++4.8.1
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
  - if [ "$CXX" == "g++" ]; then sudo apt-get install -qq g++-4.8; fi

before_script:
  - mkdir cmake-build
  - cd cmake-build
  - cmake ..

script:
  - make
